/* task 2 */
*{
  background-color: yellow;
  max-width: 100%;
}

.container {
  background-color: white;
  position: relative;  
  width: auto;
  height: 100%;
  border: 1px solid black;
  margin: 0 auto 0 auto;
}

.header {
  background-color: rgb(2, 107, 155);
  width: auto;
  height: 150px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  position: relative;
  gap: 10px;
  background-color: white;
  width: auto;
  height: 647px;
  margin: 10px 0 10px 0;
  margin-bottom: 0;
}

.content .ib, .list {
  background-color: rgb(29, 214, 247);
  width: 400px;
  height: auto;
}

.content .msg {
  background-color: rgb(29, 214, 247);
  width: 1200px;
  height: auto;
}

.footer {
  background-color: rgb(2, 107, 155);
  width: auto;
  height: 100px;
  margin-top: 10px;
}

h5 {
  font-size: 18pt;
}

.header h5 {
  text-align: center;
  margin: 0;
  padding: 60px 0 60px 0;;
  color: white;
  background-color: rgb(2, 107, 155);
}

.content .ib h5, .list h5 , .msg h5 {
  text-align: center;  
  padding: 275px 0 275px 0;
  color: white;
  background-color: rgb(29, 214, 247);
}

.footer h5 {
  margin-top: 0;
  text-align: center;
  padding: 33px 0 33px 0;
  color: white;
  background-color: rgb(2, 107, 155);
}

/* task 2 done */